@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet');

//variables:


//mixins:
@heading-font: 'Tomorrow', sans-serif;


  header{
display:flex;
border-bottom: .5px solid black;



    h1{
      display:flex;
      justify-content: flex-start;
      font-size:3rem;
      margin:2rem;
      color:#00A6FB;
      font-family:@heading-font;    

      
    
    }
  }
.top{

  .Intro{
    display:flex;
    border-bottom: .5px solid black;

    .welcome{
        display:flex;
        flex-direction: column;
        margin: 2%;
       text-align:center;
       

    
    }

    h2{

        font-size: 3rem;
        font-family:@heading-font;    
        
        
        
    }

    p{
        font-size: 1.3rem;
        margin-top: 3rem;
        margin: 5%;
        line-height: 4rem;
        

        
    }

    .salt-and-spoon{

        margin: 2%;
        
     
        img{
        display:flex;
        width:86%;

        }
        
    }
  }

  .meet-team{
      h2{
          display:flex;
          justify-content: center;
          margin: 5rem;
          font-size: 2rem;
          font-family: @heading-font;
      }
  }
    

  

}

.middle-content1{
    display:flex;
    margin:1%;
    flex-direction: row-reverse;
   border-bottom: .5px solid black;
   

    h2{
    font-size: 2.5rem;
    margin: 2%;
    text-align:center;
    font-family:@heading-font;    
    
    }

    p{
        font-size: 1.3rem;
        margin-top: 3rem;
        margin: 5%;
        line-height: 4rem;
    
    


    }

    .salty{
        display:flex;
        width:100%;


            
        img{
            display:flex;
            height: auto;
            margin:5%;
            width:80%;;
    
            }
            
        
    }




}

.team-content {

    display:flex;
    flex-wrap:wrap;

    .team-member{


    
    h4{
        font-family:@heading-font;
        font-size:1.5rem;
    }

    p{
        padding: 2rem;
        width: 420px;
        margin: 20px 0;
    }
}
}

.middle-content2{

    display:flex;
    margin:1%;
    border-bottom: .5px solid black;

    
    h2{
        font-size: 2.5rem;
         margin: 2%;
        text-align:center;
        font-family:@heading-font;
    }

    p{
        font-size: 1.3rem;
        margin-top: 3rem;
        margin: 5%;
        line-height: 4rem;


    }
    
    .saltyfries{
        display:flex;
        width:100%;


            
        img{
            display:flex;
            height: auto;
            margin:5%;
            width:90%;
    
            }
            
        
    }



}

.bottom{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    


    h2{
        font-size: 2.5rem;
         margin: 2%;
         text-align:center;
         font-family:@heading-font;
         
       
    }

    button{
        font-size:2rem;
        margin:1rem;
        background-color: #00A6FB;
        color:white;
        border-radius: 12px;
        font-family:@heading-font;    
    }

}