nav{
    display:flex;
    justify-content: flex-end;
    

    a{
        margin-left:10rem;
        font-size:1.2rem;
        text-decoration:none;
        color:#00A6FB;
        margin-top: 3rem;
        
        
        
    }

    a:hover{
        text-decoration: underline;
        color:black;
    }
}